.card {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 15vh;
    margin: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 8px;
    padding: 0.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: #845EC2;
}

.title-card {
    color: #4A148C;
    text-align: center;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: 'Open Sans',
        sans-serif;
    font-weight: 800;
}

.value-card {
    color: #F50057;
    text-align: center;
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 600;
}