.details-card {
  width: 30%;
  height: 60vh;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.heading {
  margin: 0;
  color: #4a148c;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 25px;
}

.value {
  margin: 0;
  color: #f50057;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 22px;
}
