.details-card {
  width: 30%;
  height: 60vh;
  margin: 1rem;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  margin: 0;
  color: #4a148c;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

.value {
  margin: 0;
  color: #f50057;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
}
